@charset "utf-8";
/* ===================================================================
	common.css
=================================================================== */

/*----------------------------------------------------
	共通
----------------------------------------------------*/

body,
td,
th,
input,
textarea {
	color: #000;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
	color: #000;
	text-decoration: underline;
/*
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	opacity: .80;
*/
}

a:hover {
	text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
/*
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	opacity: .80;
*/
}

img {
	vertical-align: bottom;
}
.img_ck {
	font-size: 1px;
	line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 only */
.clearfix {
	*zoom: 1;
}
/* old clearfix */
/*
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
*/
/* Hides from IE Mac */
/*
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
*/
/*---------------------------------------------------------------------------*/

/* margin */
.mar_t0 {
	margin-top: 0 !important;
}
.mar_t5 {
	margin-top: 5px !important;
}
.mar_t10 {
	margin-top: 10px !important;
}
.mar_t15 {
	margin-top: 15px !important;
}
.mar_t20 {
	margin-top: 20px !important;
}
.mar_t25 {
	margin-top: 25px !important;
}
.mar_t30 {
	margin-top: 30px !important;
}
.mar_t35 {
	margin-top: 35px !important;
}
.mar_t40 {
	margin-top: 40px !important;
}
.mar_t45 {
	margin-top: 45px !important;
}
.mar_t50 {
	margin-top: 50px !important;
}

.mar_b0 {
	margin-bottom: 0 !important;
}
.mar_b5 {
	margin-bottom: 5px !important;
}
.mar_b10 {
	margin-bottom: 10px !important;
}
.mar_b15 {
	margin-bottom: 15px !important;
}
.mar_b20 {
	margin-bottom: 20px !important;
}
.mar_b25 {
	margin-bottom: 25px !important;
}
.mar_b30 {
	margin-bottom: 30px !important;
}
.mar_b35 {
	margin-bottom: 35px !important;
}
.mar_b40 {
	margin-bottom: 40px !important;
}
.mar_b45 {
	margin-bottom: 45px !important;
}
.mar_b50 {
	margin-bottom: 50px !important;
}

.mar_l0 {
	margin-left: 0 !important;
}
.mar_l5 {
	margin-left: 5px !important;
}
.mar_l10 {
	margin-left: 10px !important;
}
.mar_l15 {
	margin-left: 15px !important;
}
.mar_l20 {
	margin-left: 20px !important;
}
.mar_l25 {
	margin-left: 25px !important;
}
.mar_l30 {
	margin-left: 30px !important;
}
.mar_l35 {
	margin-left: 35px !important;
}
.mar_l40 {
	margin-left: 40px !important;
}
.mar_l45 {
	margin-left: 45px !important;
}
.mar_l50 {
	margin-left: 50px !important;
}

.mar_r0 {
	margin-right: 0 !important;
}
.mar_r5 {
	margin-right: 5px !important;
}
.mar_r10 {
	margin-right: 10px !important;
}
.mar_r15 {
	margin-right: 15px !important;
}
.mar_r20 {
	margin-right: 20px !important;
}
.mar_r25 {
	margin-right: 25px !important;
}
.mar_r30 {
	margin-right: 30px !important;
}
.mar_r35 {
	margin-right: 35px !important;
}
.mar_r40 {
	margin-right: 40px !important;
}
.mar_r45 {
	margin-right: 45px !important;
}
.mar_r50 {
	margin-right: 50px !important;
}

/* float */
.fl_l {
	float: left !important;
}
.fl_r {
	float: right !important;
}
.fl_n {
	float: none !important;
}

/* font color */
.f_c_red {
	color: #f00 !important;
}
.f_c_yellow {
	color: #ff0 !important;
}
.f_c_blue {
	color: #00f !important;
}
.f_c_gray {
	color: #ccc !important;
}
.f_c_gray_2 {
	color: #999 !important;
}

.t_align_l {
	text-align: left !important;
}
.t_align_c {
	text-align: center !important;
}
.t_align_r {
	text-align: right !important;
}

.f_weight_bold {
	font-weight: bold !important;
}
.f_weight_normal {
	font-weight: normal !important;
}
/*---------------------------------------------------------------------------*/

/* CMS用 */
.file {
	border-top: 1px dotted #ccc;
	margin: 15px 0;
	padding-top: 10px;
	text-align: left;
}
.file .pdf {
	background: url("../images/cms/pdf.gif") left center no-repeat;
	line-height: 30px;
	padding-left: 30px;
	padding-top: 4px;
}
.file .xls, .file .xlsx {
	background: url("../images/cms/xls.gif") left center no-repeat;
	line-height: 30px;
	padding-left: 30px;
	padding-top: 4px;
}
.file .doc, .file .docx {
	background: url("../images/cms/doc.gif") left center no-repeat;
	line-height: 30px;
	padding-left: 30px;
	padding-top: 4px;
}

.top-right {
	float:right;
	margin: 0px 0px 30px 30px;
}

.top-left {
	float:left;
	margin: 0px 30px 30px 0px;
}

.top-center {
	margin: 0px 0px 30px 0px;
	text-align:center;
}

.bottom-right {
	float:right;
	margin: 30px 0px 0px 30px;
}

.bottom-left {
	float:left;
	margin: 30px 30px 0px 0px;
}

.bottom-center {
	margin: 30px 0px 0px 0px;
	text-align:center;
}

.entry-container b {
	font-weight:bold;
}

.entry-container i {
	font-style:italic;
}

/*---------------------------------------------------------------------------*/
